<article class="py-5">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'article_title' %}
                <div class="flex items-center justify-center">
                    <div class="max-w-7xl text-center">
                        <a href="{{ blog.url }}" class="text-base uppercase font-bold text-gray-500 hover:text-gray-900">{{ blog.title }}</a>
                        <h2 class="text-4xl md:text-6xl font-medium">{{ article.title }}</h2>
                    </div>
                </div>
            {% when 'article_author' %}
                <div class="flex items-center justify-center">
                    <div class="max-w-7xl text-center">
                        {% if section.settings.enable_author %}
                            <small>{{ article.author }}</small>
                        {% endif %}
                    </div>
                </div>
                
            {% when 'article_published_date' %}
                <div class="flex items-center justify-center">
                    <div class="max-w-7xl text-center">
                        {% if section.settings.enable_published_date %}
                            <time datetime="{{ article.published_at |  date: '%Y-%m-%d' }}">{{ article.published_at |  date: format: 'on_date' }}</time>
                        {% endif %}
                    </div>
                </div>
                
            {% when 'featured_image' %}              
                    <div class="max-w-7xl bg-blue-100 rounded-lg mx-2 md:mx-auto overflow-hidden my-4">
                        {% if article.image !=blank %}
                            <img src="{{ article.image | img_url: 'large'  }}"  alt="{{ article.image.alt }}" class="w-full h-80 md:h-96 object-cover object-center" >
                            {% else %}
                                {%  assign placeholder_image = 'lifestyle-1' %}  
                                {{ placeholder_image |  placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center py-5'   }}
                        {% endif %}                       
                    </div>
                </div>                
            {% when 'article_content' %}
                <div class="flex items-center justify-center py-3">
                    <div class="max-w-5xl">
                        {{ article.content }}
                    </div>
                </div>
            {% else %}
                
        {% endcase %}
    {% endfor %}
</article>

{% if blog.comments_enabled? %}
    <div class="flex-1 mx-auto justify-center items-center max-w-5xl px-3">
        <div id="comments" class="my-8">
            {% if article.comments_count > 0 %}
                <div class="flex-1 mx-auto justify-center items-center max-w-5xl px-3">
                    <h1 class="text-lg font-medium mb-4">See what people are saying</h1>
                    {% paginate article.comments by 5 %}
                        {% for comment in article.comments %}
                            <div class="flex-1 my-4 px-4 py-2 sm:px-6 sm:py-4 border leading-relaxed">
                                <span class="comment-author font-medium">{{ comment.author }}</span><span class="text-xs text-gray-400"> {{ comment.created_at | date: format: 'default' }} </span>
                                <p class="text-sm"> {{ comment.content }} </p>
                            </div>
                        {% endfor %}

                        {% comment %} {% if paginate.pages > 1 %}
                            {{ paginate | default_pagination }}
                        {% endif %} {% endcomment %}
                        <div class="max-w-6xl mx-auto">
                            {% render 'pagination', pagination: paginate %}
                        </div>
                    {% endpaginate %}
                </div>
                
                {% else %}
                <div class="flex-1 items-center justify-start w-full bg-orange-500 rounded py-8 px-2">
                    <p class="text-base text-white">There are no comments.</p>
                </div>
                    
            {% endif %}
        </div>
    </div>
    <div id="comment_form" class="mb-8">
        {% form 'new_comment', article %}
            <div class="flex-1 mx-auto justify-center items-center max-w-5xl px-3">
                {% if form.errors %}
                    
                    <div class="border p-5">
                        <div class="flex flex-row items-center w-full my-3">
                            <div class="text-red-500">
                                {% render 'icon-failed' %}
                            </div>
                            <div class="text-sm font-medium ml-3">
                                <p class="text-red-500">Oh No! your comment is not posted</p> 
                            </div>
                        </div>
                        <ul class="px-4 ml-7 list-decimal mb-3">
                            {% for error in form.errors %}
                                <li>
                                    {% if error == 'form' %}
                                        <span> {{ form.errors.messages[error] }}</span>
                                      {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                    {% elsif form.posted_successfully? %}
                        
                        <div class="border p-5">
                            <div class="flex flex-row items-center w-full my-3">
                                <div class="text-green-500">
                                    {% render 'icon-success' %}
                                </div>
                                <div class="text-sm font-medium ml-3">
                                    <p class="text-green-500">Comment is posted successfully !</p>
                                    
                                </div>
                            </div>
                        </div>
                {% endif %}
                <div class="flex px-1 mb-4 md:flex">
                    <div class="px-3 w-1/2">
                        <label for="comment_author" class="text-xs text-gray-700 font-medium uppercase mb-2">Name</label>
                        <input type="text"
                            name="comment[author]"
                            id="comment_author" 
                            class="w-full text-gray-700 border px-3 py-2 mb-3 focus:outline-none" 
                            placeholder="John Due"
                            required
                            >     
                    </div>
                    <div class="px-3 w-1/2">
                        <label for="comment_email" class="text-xs text-gray-700 font-medium uppercase mb-2">Email</label>
                        <input type="text"
                        name="comment[email]"
                        id="comment_email" 
                        class="w-full text-gray-700 border px-3 py-2 mb-3 focus:outline-none" 
                        placeholder="John@gmail.com"
                        required
                        >
                    </div>
                </div>
                <div class="px-1 mb-4 md:flex">
                    <div class="w-full md:w-full px-2">
                        <label for="comment_content" class="text-gray-700 uppercase text-xs mb-2 font-medium">Comments</label>
                        <textarea class="w-full text-gray-900 py-2 px-3 focus:outline-none border resize-none rounded-md" rows="5" name="comment[body]" id="comment_content" required></textarea>
                    </div>
                </div>
                <div class="flex px-1 mb-4 md:flex">
                    <div class="w-full md:w-full px-3">
                        <input type="submit" class="w-full cursor-pointer font-medium bg-slate-950 border px-3 py-2 hover:bg-gray-500 text-center text-yellow-50" value="Post Comment">
                    </div>
                </div>
            </div>
        {% endform %}
    </div>
{% endif %}

{% schema %}
    {
        "name": "Template Article",
        "settings": [
            {
               "type": "checkbox",
               "id":"enable_author",
               "label": "Display Author Name",
               "default": true
            },
            {
               "type": "checkbox",
               "id":"enable_published_date",
               "label": "Display Publisehd Date",
               "default": true
            }
        ],
        "blocks": [
            {
                "type": "article_title",
                "name": "Title",
                "limit": 1
            },
            {
                "type": "article_author",
                "name": "Author",
                "limit": 1
            },
            {
                "type": "article_published_date",
                "name": "Published Date",
                "limit": 1
            },
            {
                "type": "featured_image",
                "name": "Thumbnail",
                "limit": 1
            },
            {
                "type": "article_content",
                "name": "Content",
                "limit": 1
            }
        ]
    }
{% endschema %}