<article class="py-5">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'article_title' %}
                <div class="flex items-center justify-center">
                    <div class="max-w-7xl text-center">
                        <a href="{{ blog.url }}" class="text-base uppercase font-bold text-gray-500 hover:text-gray-900">{{ blog.title }}</a>
                        <h2 class="text-4xl md:text-6xl font-medium">{{ article.title }}</h2>
                    </div>
                </div>
            {% when 'article_author' %}
                <div class="flex items-center justify-center">
                    <div class="max-w-7xl text-center">
                        {% if section.settings.enable_author %}
                            <small>{{ article.author }}</small>
                        {% endif %}
                    </div>
                </div>
                
            {% when 'article_published_date' %}
                <div class="flex items-center justify-center">
                    <div class="max-w-7xl text-center">
                        {% if section.settings.enable_published_date %}
                            <time datetime="{{ article.published_at |  date: '%Y-%m-%d' }}">{{ article.published_at |  date: format: 'on_date' }}</time>
                        {% endif %}
                    </div>
                </div>
                
            {% when 'featured_image' %}              
                    <div class="max-w-7xl bg-blue-100 rounded-lg mx-2 md:mx-auto overflow-hidden my-4">
                        {% if article.image !=blank %}
                            <img src="{{ article.image | img_url: 'large'  }}"  alt="{{ article.image.alt }}" class="w-full h-80 md:h-96 object-cover object-center" >
                            {% else %}
                                {%  assign placeholder_image = 'lifestyle-1' %}  
                                {{ placeholder_image |  placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center py-5'   }}
                        {% endif %}                       
                    </div>
                </div>                
            {% when 'article_content' %}
                <div class="flex items-center justify-center">
                    <div class="max-w-5xl text-center">
                        {{ article.content }}
                    </div>
                </div>
            {% else %}
                
        {% endcase %}
    {% endfor %}
</article>

{% if blog.comments_enabled? %}
    hello
{% endif %}

{% schema %}
    {
        "name": "Template Article",
        "settings": [
            {
               "type": "checkbox",
               "id":"enable_author",
               "label": "Display Author Name",
               "default": true
            },
            {
               "type": "checkbox",
               "id":"enable_published_date",
               "label": "Display Publisehd Date",
               "default": true
            }
        ],
        "blocks": [
            {
                "type": "article_title",
                "name": "Title",
                "limit": 1
            },
            {
                "type": "article_author",
                "name": "Author",
                "limit": 1
            },
            {
                "type": "article_published_date",
                "name": "Published Date",
                "limit": 1
            },
            {
                "type": "featured_image",
                "name": "Thumbnail",
                "limit": 1
            },
            {
                "type": "article_content",
                "name": "Content",
                "limit": 1
            }
        ]
    }
{% endschema %}