<div class="py-5">
    {% paginate blog.articles by section.settings.number_of_blog_posts %}
        <h1 class="text-center text-3xl">{{ blog.title }} </h1>
        <div class="max-w-6xl mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    {% for article in blog.articles %}
                        <div class="w-full px-3 py-6">
                            <div class="bg-white shadow-xl rounded-lg overflow-hidden px-4 align-middle">
                                {% if article.image %}
                                    <img src="{{ article.image |  img_url: 'medium' }}" alt="{{ article.image.alt }}" class="object-cover object-center"  >
                                   {% else %}
                                    {{ 'image' |  placeholder_svg_tag: 'w-20' }}
                                {% endif %}
                                <h1> {{ article.title }} </h1>
                                {% if article.excerpt.size > 0 %}
                                    <p> {{ article.content | strip_html | truncatewords: 15 }} </p>
                                    {% else %}
                                        <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
                                {% endif %}
                            </div>
                           
                        </div>
                    {% endfor %}
                </div>
            </div>       
    {% endpaginate %}
</div>

{% schema %}
    {
        "name": "Blog",
        "settings": [
            {
               "type": "range",
               "id": "number_of_blog_posts",
               "step": 1,
               "min": 1,
               "max": 6,
               "label": "Post Per Page",
               "default": 3
            }
        ]
    }
{% endschema %}